@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin daisyui;

/* Spotify */

.text-spotify {
    color: #1DB954;
}

.bg-spotify {
    background-color: #1DB954;
}

.border-spotify {
    border-color: #1DB954;
}

button.bg-spotify:hover, a.bg-spotify:hover {
    background-color: #1AA34A;
}

button.border-spotify:hover, a.border-spotify:hover {
    border-color: #1AA34A;
}

/* Discord */

.bg-discord {
    background-color: #5865F2;
}

.border-discord {
    border-color: #5865F2;
}

button.bg-discord:hover, a.bg-discord:hover {
    background-color: #4053D6;
}

button.border-discord:hover, a.border-discord:hover {
    border-color: #4053D6;
}

/* Danger */

.bg-danger {
    background-color: #FF0000;
}

.border-danger {
    border-color: #FF0000;
}

button.bg-danger:hover, a.bg-danger:hover {
    background-color: #CC0000;
}

button.border-danger:hover, a.border-danger:hover {
    border-color: #CC0000;
}

.volume {
    -webkit-appearance: none;
    width: 100%;
    background: rgb(138, 138, 138);
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.volume::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.volume::-moz-range-progress {
    /* Have the background as a light gray */
    background: #f3f3f3;
    height: 10px;
    border-radius: 5px;
}

/* markdown formatting */
.markdown h1 {
    font-size: 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown h2 {
    font-size: 1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown h4 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown h5 {
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown h6 {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: disc;
}

.markdown ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: decimal;
}

.markdown blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown a {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown blockquote {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown code {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Requests Table */
