.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
    min-width: 200px;
    min-height: 100%;
}

@media screen and (max-width: 768px) {
    .sidebar {
        left: -100%;
        position: fixed;
        z-index: 1000;
        transition: left 0.3s ease;
        top: 0;
    }
}